
.work{
    display: flex;
    flex-direction:column ;
    gap: 2rem;
}


.work-content .heading{
    font-size: 2rem;
    font-weight: bolder;
    color: #4c4c4c;
}




.work-content{
    text-align: center;
}

.work-boxes{
    display: flex;
    justify-content: space-evenly;
}

.work-boxes .box{
    min-height: 200px;
    width: 250px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;   
}


.work-boxes .box img{
    height: 80px;
}


/* ---media query ---*/

@media only screen and (max-width: 540px) {

    .work-boxes{
        flex-direction: column;
        align-items: center;
        gap: 10px;   
    }

}
